<h1> Datos de la venta </h1>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span4">
    <p class="lead">
      <strong>Cliente:</strong>
      <%= @venta.cliente_id %>
    </p>

    <p class="lead">
      <strong>Vendedor:</strong>
      <% vendedor = Empleado.find(@venta.vendedor_id) %>
      <%= vendedor.nombre %>
    </p>
  </div>

  <div class="span4">
    <p class="lead">
      <strong>Fecha:</strong>
      <%= @venta.created_at %>
    </p>
  </div>
  
  <div class="span4">
    <p class="lead">
      <strong>Estado:</strong>
      <% if @venta.cerrado %>
        <span style="color: red;">Cerrado</span>
      <% else %>
        <%= "Abierto" %>
      <% end %>
    </p>
  </div>
</div>

<% if !@venta.cerrado or current_empleado.administrador %>
  <%= link_to 'Terminar venta', terminar_venta_no_compra_path(@venta), class: 'btn btn-success'  %>
  <%= link_to 'Editar venta', edit_no_compra_path(@venta), class: 'btn'  %>
<% end %>
<%= link_to 'Regresar', no_compras_path, class: 'btn' %>

