<h1>Lista de ventas</h1>

<table class="table">
  <tr>
    <th>Factura</th>
    <th>Cliente</th>
    <th>Vendedor</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
<!--    <th></th>-->
  </tr>

<% @ventas.each do |venta| %>
  <tr>
    <td><%= venta.id %></td>
    <td><%= venta.cliente_id %></td>
    <td><%= venta.vendedor_id %></td>
    <td><%= venta.created_at %></td>
    <td><%= link_to 'Mostrar', no_compra_ventas_productos_path(venta) %></td>
    <td><%= link_to 'Editar', edit_no_compra_path(venta) %></td>
<!--    <td><%= link_to 'Destruir', venta, method: :delete, data: { confirm: 'Esta seguro que quiere borrar esta venta?' } %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva venta', new_no_compra_path, class: 'btn btn-large' %>
