<!--- --->
<%= render 'no_compra' %>

<!--<h2>Busqueda de producto</h2>-->
<!--<%= link_to 'Agregar producto',new_no_compra_ventas_producto_path(@venta), class: 'btn' %>-->

<h2>Lista de productos</h2>
<table class="table">
  <tr>
    <th>Clave</th>
    <th>Descripcion</th>
    <th>Cantidad producto</th>
    <th>Precios</th>    
    <th>Importe</th>
<!--    <th></th>-->
    <th></th>
    <th></th>
  </tr>

<% @venta.ventas_productos.each do |ventas_producto| %>
  <tr>
    <td><%= ventas_producto.producto_id %></td>
    <% @producto = Producto.find(ventas_producto.producto_id) %>
    <td><%= @producto.descripcion %></td>
    <td><%= ventas_producto.cantidad_producto %></td>
    <td><%= ventas_producto.precio %></td>
    <td><%= ventas_producto.precio * ventas_producto.cantidad_producto %></td>
<!--    <td><%= link_to 'Mostrar', no_compra_ventas_producto_path(@venta, ventas_producto) %></td>-->
    <td>
      <%= link_to 'Editar', edit_no_compra_ventas_producto_path(@venta, ventas_producto) %>
      </td>
    <td><%= link_to 'Quitar de la lista', no_compra_ventas_producto_path(@venta, ventas_producto), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar producto', new_no_compra_ventas_producto_path(@venta), class: 'btn btn-large' %>
<%= link_to 'Regresar a ventas', no_compras_path, class:'btn btn-large' %>
