<!--- --->
<p id="notice"><%= notice %></p>

<p>
  <b>Id compra:</b>
  <%= @compras_producto.compra_id %>
</p>

<p>
  <b>Id producto:</b>
  <%= @compras_producto.producto_id %>
</p>

<p>
  <b>Precio:</b>
  <%= @compras_producto.precio %>
</p>


<%= link_to 'Editar', edit_compra_compras_producto_path(@compra, @compras_producto), class: 'btn btn-large' %> |
<%= link_to 'Regresar', compra_path(@compra), class: 'btn btn-large' %>
