<!--- informacion de la venta --->
<%= render @venta %>

<% if !@venta.cerrado %>
  <h2>Busqueda de producto</h2>
  <%= link_to 'Agregar producto',new_no_compra_ventas_producto_path(@venta), class: 'btn' %>
<% end %>

<h2>Lista de productos de la venta</h2>

<table class="table">
  <tr>
    <th>Producto</th>
    <th>Cantidad producto</th>
    <th>Precios</th>
    <th>Importe</th>
    
    <th></th>
    <th></th>
  </tr>

<% @ventas_productos.each do |ventas_producto| %>
  <tr>
    <% nombre = Producto.find(ventas_producto.producto_id).descripcion %>
    <td><%= nombre %></td>
    <td><%= ventas_producto.cantidad_producto %></td>
    <td><%= ventas_producto.precio %></td>
    <td><%= ventas_producto.precio * ventas_producto.cantidad_producto %></td>

    <% if !@venta.cerrado or current_empleado.administrador %>
      <td><%= link_to 'Editar', edit_no_compra_ventas_producto_path(@venta, ventas_producto) %></td>
      <td><%= link_to 'Borrar de la lista', no_compra_ventas_producto_path(@venta, ventas_producto), method: :delete, data: { confirm: 'Esta seguro que quiere quitar este producto de la lista?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
